.screen-third {
    width: 40vw;
    height: 40vw;
    background-color: antiquewhite;
}

.width-fit{
    width:fit-content;
}

.no-style{
    border:none;
    background: none;
}

.mt-22{
    margin-top:-22px;
}

.all-page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: antiquewhite;
    opacity: 0.5;
    z-index:1;
    display: none;
}

/* STYLES GENERAL WALL */
.img-cont {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#profile-photo { 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.name-box {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: calc(100vw - 68px - 6rem) !important;
}

#post-box p,
#comment-box p {
    margin-bottom: 0 !important;
}

#post-image-label:after {
    content: none;
}

#img-btn-cont {
    min-width: 50px;
}

.gif-cont {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.gif-img-cont {
    position: absolute;
    bottom: -305px;
    left: 0;
    width: 250px;
    height: 300px;
    z-index: 1;
    background-color: white;
    border: solid 1px #6c757d;
    border-radius: 3px;
    padding: 1rem;
    overflow: hidden;
}

.gif-box {
    max-height: 220px;
    overflow-y: auto;
    text-align: center;
}

.gif-box img {
    margin: 6px;
    border: solid 1px #6c757d;
}

#gif-input {
    width: 100%;
    margin-bottom: 1rem;
}

.gif-element:hover {
    cursor: pointer;
}

.form-cont {
    height: 100vh;
}

/* ------ LIKE AND COMMENT ICONS ------ */

.icon-like{
   position: relative;
   cursor: pointer;
}

.icon-like::after{
   content: "\f004";
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}
.icon-like.active{
   color: rgb(255, 103, 103);
}
.icon-like.active::after{
   animation: click-icon .7s ease-in-out forwards;
   -webkit-animation: click-icon .7s ease-in-out forwards;
}

@keyframes click-icon{
   0%{
      opacity: 1;
   }
   100%{
      opacity: 0;
      transform: scale(2.3);
      -webkit-transform: scale(2.3);
      -moz-transform: scale(2.3);
      -ms-transform: scale(2.3);
      -o-transform: scale(2.3);
}
}

@media screen and (min-width : 800px){
    .screen-third{
        width:40vh;
        height:40vh;
    }
}